html, body {
	font-family: Courier, monospace;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.left,.right {
	position: absolute;
	height: 100%;
}

.left {
	text-align: right;
	top: 0;
	left: 0;
	width: 33%;
	padding: 20px;
}

button {
	width: 100px;
}

.right {
	top: 0;
	left: 33%;
	width: 66%;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.messages {
	padding-top: 30px;
}

.ui.message {
	text-align: center;
	display: inline-block;
	width: 150px;
}